
<ion-content [fullscreen]="true">
 <div class="login-section">

  <div class="heading">
    <h1>ICarryU?</h1>
    <!--Imagen icono-->
    <p>Inicio de sesión</p>
    <p>¡Hola! Que gusto verte de nuevo.</p>
  </div>

  <div class="login-from">
    <ion-icon name="person-outline"></ion-icon>
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="usuario"></ion-input>
    </ion-item>
    <ion-icon name="lock-closed-outline"></ion-icon>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="contraseña"></ion-input>
    </ion-item>
  </div>

  <div class="from-input">
    <ion-button>Iniciar sesión</ion-button>
    <ion-button>Registrarse</ion-button>
  </div>
  <div class="from-input2">
  <ion-button fill="clear">¿Olvidaste tu contraseña?</ion-button>
</div>
</div>
</ion-content>
