ion-content{
    text-align:center;
--background: linear-gradient(0deg,rgba(0,0,0,0,7), rgba(0,0,0,0,1)),
url("/assets/girl-camera.jpg") no-repeat center center / cover;
 }

 .register-section{
    height: 74vh;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    margin:auto;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;


    .heading ion-padding{
        margin-top: 20px;
        h1{
            font-size: 1.6rem;
            font-weight: bolder;
        }
        p{
            margin-top: 20px;
            font-size: 1rem;
            color: #fff;
        }

    }
    .register.from{
        .from-input{
            position: relative;
            margin-bottom: 10px;
            ion-item::part(native){
                padding-left: 0;
            }
            ion-item{
                position:absolute;
                top: 37px;
                z-index: 1.2rem;
                left: 5px;

            }
            ion-label{
                position: absolute;
                margin-left: 35px;
                font-weight: bolder;
                font-size: 0.8rem;
                top: 3px;
            }
            
            ion-input{
                font-size: 0.90rem;
                --pading-start:36px;
                --padding-top: 36px;
                color: greenyellow;
            }

        }
    }
    .action-buttons{
        text-align: center;
        .register-button{
            --background:#f9b801;
            width: 100%;
            font-weight: bold;
        .login-button{
            width: 100%;
            font-weight: bold;
        }
        }
    }

 }
