<ion-content [fullscreen]="true">
  <div class="register.section ion-padding">
   <div class="heading ion-padding">
     <h1>ICarryU?</h1>
      <p>¡Crea tu cuenta!</p>
   </div>
   <div class="register-from ion padding">
     <div class="from-input">
       <ion-item>
         <ion-label position="floating">Email</ion-label>
         <ion-input type="email"></ion-input>
       </ion-item>
     </div>
     <div class="from-input">
       <ion-item>
         <ion-label position="floating">Contraseña</ion-label>
         <ion-input type="contraseña"></ion-input>
       </ion-item>
     </div>

     <div class="from-input">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="nombre"></ion-input>
      </ion-item>
    </div>

    <div class="from-input">
      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input type="apellido"></ion-input>
      </ion-item>
    </div>

    <div class="from-input">
      <ion-item>
        <ion-label position="floating">RUT</ion-label>
        <ion-input type="rut"></ion-input>
      </ion-item>
    </div>

    <div class="from-input">
      <ion-item>
        <ion-label position="floating">Telefono</ion-label>
        <ion-input type="contraseña"></ion-input>
      </ion-item>
    </div>
   </div>
   <div class="action-button ion-padding"></div>
   <ion-button size="large" class="register-button">Crear cuenta</ion-button>
   <ion-button fill="clear" class="login-button">¿Ya tiene una cuenta? Inicia sesión</ion-button>
  </div>
 </ion-content>
